<div class="d-flex align-items-center mb-4">
  <div class="rounded-circle ratio ratio-1x1 me-3 max-w-3xs overflow-hidden">
    <img
      class="object-fit-cover w-full"
      src="https://images.unsplash.com/photo-1533738363-b7f9aef128ce?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1035&q=80"
      alt="user profile picture"
    />
  </div>
  <div>
    <span class="fw-bold">Username</span>
    <span class="fs-6 text-body-tertiary">Just now</span>
  </div>
</div>
