@import "~bootstrap/scss/bootstrap";

.form-signin {
  flex: 1;
  max-width: 430px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.post-component {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;

  .post-header {
    display: flex;
    align-items: center;

    .profile-pic {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 12px;
    }

    .user-details {
      .username {
        font-weight: bold;
      }

      .timestamp {
        color: gray;
        font-size: 12px;
      }
    }
  }

  .post-content {
    margin: 16px 0;
  }
}
